*.sym
*.bin
*.pyc
*.tmp
*.zip
*.lst
*.lbl
*.elf
*.uf2
*.o
*.obj
__pycache__/*
__pycache__
build/*
images/build/*
memory.dump
bin/*
__*
__*/
CMakeCache.txt
simulator/storage/*
images/firmware/CMakeLists.txt
libraries/graphics/fonts/fonts/fontconvert/fontconvert
